{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" href="{% url 'dashboard' %}">
    <img id="logo" src="{% static 'images/yb_logo.jpg' %}" height = "50px" width="50px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <a class="nav-link" href="{% url 'products' %}">Products</a>
    </ul>
  </div>
</nav>
